
#images:after{
	content:"";
	display: block;
	visibility: hidden;
	clear: both;
}
#images{
	width: 100%;

}
#images .image img{
	display: block;
}
#images .image{
	width: 100%;
	height: 100%;
	min-height: 80px;

}
#images  li{

	width: 100px;
	max-height: 100px;
	
	float:left;
	margin: 12px;
	
}
.calendar .busy{
	background-color: red;
}
.popup{
	display: none;
	position:fixed;
	margin: auto;
	padding:1em;
	background-color: white;
	z-index: 20;
	text-align: center;
}
.popup .content{
	display: inline-block;
	padding:1em;
	border:1px solid #333;
	min-height: 250px;
	background-color: #fff;
	text-align: left;
}
.overlay{
	display: none;
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index: 10;
	background-color: rgba(0,0,0,0.4);
}